.showcase::before {
  content: "";
  display: block;
  height: 200px;
}

.lead-text {
  margin-top: 1rem;
  font-size: 0.8rem !important;
}

html,
body,
div#root,
.app,
.showcase {
  height: 100% !important;
}
