.showcase::before {
  content: "";
  display: block;
  height: 100px;
}

.showcase::after {
  content: "";
  display: block;
  height: 1rem;
}

.lead-text {
  margin-top: 1rem;
  font-size: 0.8rem !important;
}

body,
div#root,
.app,
.showcase,
.subject-container,
html {
  height: 100% !important;
}

.subject-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
