* {
  font-family: "Poppins", sans-serif;
}

.showcase::before {
  content: "";
  display: block;
  height: 100px;
}

.showcase::after {
  content: "";
  display: block;
  height: 1rem;
}

.lead-text {
  margin-top: 1rem;
  font-size: 0.8rem !important;
}

body,
div#root,
.app,
.showcase,
.subject-container,
html {
  height: 100% !important;
}

.subject-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.card {
  min-height: 230px !important;
}

.particle-background {
  z-index: 1 !important;
}

.btn-login {
  z-index: 2 !important;
}

.portfolio-link {
  animation: blink 1s linear alternate infinite;
  color: #2196f3;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
